html,
body,
div#react-container {
  min-height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  background: rgba(255, 255, 255, 1);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(229, 229, 229, 1) 100%
  );
}

/* RatingContaier CSS */
div.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input {
  outline: none;
}

/* ColorList CSS */
div.color-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  overflow: scroll;
}

/* Color CSS */
section.color {
  box-shadow: 3px 3px 8px 1px darken(rgba(229, 229, 229, 1), 20%);
  border: 2px solid rgba(229, 229, 229, 1);
  border-bottom-color: darken(rgba(229, 229, 229, 1), 40%);
  border-right-color: darken(rgba(229, 229, 229, 1), 40%);
  margin: 1em;
  padding: 0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (min-width: 700px) {
  section.color {
    flex-basis: calc(50% - 2em - 4px);
  }
}

@media screen and (min-width: 1100px) {
  section.color {
    flex-basis: calc(33.33333% - 2em - 4px);
  }
}

@media screen and (min-width: 1600px) {
  section.color {
    flex-basis: calc(25% - 2em - 4px);
  }
}

@media screen and (min-width: 2000px) {
  section.color {
    flex-basis: calc(16.66666% - 2em - 4px);
  }
}

section.color h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 0.5em;
  flex-basis: calc(100% - 1em);
}

section.color button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  flex-basis: calc(12% - 1em);
  text-align: right;
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(229, 229, 229, 1) 100%
  );
  padding: 0.75em;
  border-radius: 0.5px;
}

section.color > div:last-child {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5em;
}

section.color div.color {
  height: 100px;
  flex-basis: 100%;
}

section.color div.time-ago {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-family: monospace;
  color: darken(rgba(229, 229, 229, 1), 40%);
}

/* Star CSS */
div.star {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 2px;
  float: left;
  background-color: rgb(23, 115, 172);
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

div.star.selected {
  background-color: red;
}
