.container {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #111;
  font-size: 4rem;
}

.wrapper {
}

.closeButton {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 30px;
  top: 30px;
}